@model Proyecto_AirBnb.Models.FacutraViewModel
@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<center>

<h2>Factura</h2>
    <div style="float:left;width:400px;padding:15px">
        <h1>Pago Reserva</h1>

        <h3>Detalles</h3>
        <img src="~/Content/Imagenes/Anuncios/@Model.Foto" style="width:350px" />
        <p><strong> Publicado por: </strong> @Model.NombreAnfitrion @Model.ApellidoAnfitiron</p>

        <h3>TOTAL: @Model.Total €</h3>

        <table class="table table-striped">
            <tr>
                <th>Titulo</th>
            </tr>
            <tr>
                <td>@Model.Titulo</td>
            </tr>
            <tr>
                <th>Descripcion</th>
            </tr>
            <tr>
                <td>@Model.Descripcion</td>
            </tr>
            <tr>
                <th>Localidad</th>
            </tr>
            <tr>
                <td>@Model.Localidad</td>
            </tr>
            <tr>
                <th>Capacidad</th>
            </tr>
            <tr>
                <td>@Model.Capacidad</td>
            </tr>
            <tr>
                <th>Precio/Noche</th>
            </tr>
            <tr>
                <td>@Model.Precio</td>
            </tr>
            <tr>
                <th>Nº Noches</th>
            </tr>
            <tr>
                <td>@Model.Noches</td>
            </tr>

        </table>


    </div>

</center>

