@model IEnumerable<Proyecto_AirBnb.Models.Mensaje>
<h3>Mensajes</h3>
@if (Model.Count() == 0)
{
    <div class="panel panel-default">
        <h2>No tienes ningun mensaje</h2>

    </div>
}
else
{

    <table class="table">
        <tr>
            <th>
                Leido
            </th>
            <th>
                Mensaje
            </th>
            <th>
                Fecha
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                @switch (item.Tipo)
                {
                    case "bienvenida":

                        if ((bool)item.Leido)
                        {
                            <td>
                                Si
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mensaje1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha.Value)
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "EliminarMensaje", "Perfil", new { id = item.Id_Mensaje }, null)
                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                            <td>
                                <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.ActionLink("Leído", "MensajeLeido", "Perfil", new { id = item.Id_Mensaje }, null)
                                @Html.ActionLink("Eliminar", "EliminarMensaje", "Perfil", new { id = item.Id_Mensaje }, null)

                            </td>

                        }
                        break;

                    case "avisoreserva":

                        if ((bool)item.Leido)
                        {

                            <td>
                                Si
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mensaje1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.ActionLink("Aceptar", "AccionReserva", "Perfil", new { destinatario = item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje, accion = "aceptar" }, null)
                                @Html.ActionLink("Rechazar", "AccionReserva", "Perfil", new { destinatario = item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje, accion = "rechazar" }, null)
                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                            <td>
                                <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.ActionLink("Leído", "MensajeLeido", "Perfil", new { id = item.Id_Mensaje }, null)
                                @Html.ActionLink("Aceptar", "AccionReserva", "Perfil", new { destinatario = item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje, accion = "aceptar" }, null)
                                @Html.ActionLink("Rechazar", "AccionReserva", "Perfil", new { destinatario = item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje, accion = "rechazar" }, null)
                            </td>
                        }
                        break;

                    case "confirmacion": //Confirmación reserva

                        <td>
                            No
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Pagar", "PagarReserva", "Perfil", new { id = item.Id_Mensaje, idReserva = item.Id_Reserva, remitente = item.Id_Remitente, destinatario = item.Id_Destinatario }, null)
                            @Html.ActionLink("Descartar", "DescartarReserva", "Perfil", new { id = item.Id_Mensaje, idReserva = item.Id_Reserva, remitente = item.Id_Remitente, destinatario = item.Id_Destinatario }, null)

                        </td>

                        break;
                    case "rechazo":

                        if ((bool)item.Leido)
                        {
                            <td>
                                Si
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mensaje1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                
                                @Html.ActionLink("Eliminar", "EliminarMensaje", "Perfil", new { id = item.Id_Mensaje }, null)
                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                            <td>
                                <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.ActionLink("Leído", "MensajeLeido", "Perfil", new { id = item.Id_Mensaje }, null)
                                @Html.ActionLink("Eliminar", "EliminarMensaje", "Perfil", new { id = item.Id_Mensaje }, null)
                            </td>
                        }

                        break;
                    default:
                        break;
                }
            </tr>
        }

    </table>
}