@model IEnumerable<Proyecto_AirBnb.Models.Mensaje>

@if (Model.Count() == 0)
{
    <div class="panel panel-default">
        <h2>No tienes mensajes sin leer</h2>

    </div>
}
else
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Destinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Destinatario)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Mensaje1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>

        <td>
            @Html.ActionLink("Leído","MensajeLeido", "Perfil", new { id=item.Id_Mensaje })
        </td>
    </tr>
}

    </table>
}
