@model IEnumerable<Proyecto_AirBnb.Models.Mensaje>
<h3>Mensajes</h3>
@if (Model.Count() == 0)
{
    <div class="panel panel-default">
        <h2>No tienes mensajes sin leer</h2>

    </div>
}
else
{

    <table class="table">
        <tr>
            <th>
                Leido
            </th>
            <th>
                Mensaje
            </th>
            <th>
                Fecha
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                @if ( !item.Id_Remitente.Equals("0") )// es una Reserva o Confirmacion o Rechazo!!
                {
                    if ((bool)item.Leido)
                    {
                        
                        <td>
                            SI
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mensaje1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Aceptar", "AceptarReserva", "Perfil", new { destinatario = item.Id_Destinatario,remitente = item.Id_Remitente, idReserva=item.Id_Reserva, idMensaje = item.Id_Mensaje }, null) 
                            @Html.ActionLink("Rechazar", "RechazarReserva", "Perfil", new { destinatario = item.Id_Destinatario,remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje }, null)
                        </td>
                    }
                    else
                    {
                        <td>
                            NO
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Leído", "MensajeLeido", "Perfil", new { id = item.Id_Mensaje }, null) 
                            @Html.ActionLink("Aceptar", "AceptarReserva", "Perfil", new {destinatario =item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje }, null) 
                            @Html.ActionLink("Rechazar", "RechazarReserva", "Perfil", new { destinatario = item.Id_Destinatario, remitente = item.Id_Remitente, idReserva = item.Id_Reserva, idMensaje = item.Id_Mensaje }, null)
                        </td>
                    }
                }
                else //---> Es mensaje bienvenida
                {
                    if ((bool)item.Leido)
                    {
                        <td>
                            SI
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mensaje1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "EliminarMensaje", "Perfil", new { id = item.Id_Mensaje }, null)
                        </td>
                    }
                    else
                    {
                        <td>
                            NO
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Mensaje1)</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Leído", "MensajeLeido", "Perfil", new { id = item.Id_Mensaje}, null)
                           
                        </td>

                    }
                }
                
            </tr>
        }

    </table>
}