@model IEnumerable<Proyecto_AirBnb.Models.Anuncio>

<h3>Mis anuncios</h3>
@if (Model.Count() == 0)
{
    <div class="panel panel-default">
        <h2>Aun no tienes anuncios subidos</h2>
    </div>
}
else
{
    <table class="table">
        <tr>

            <th>
                Foto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alojamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>

        <td>
            <img src="~/Content/Imagenes/Anuncios/@item.Foto" style="width:70px;height:80px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alojamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>

        <td>
            @Html.ActionLink("Eliminar","EliminarAnuncio","Perfil", new { id=@item.Id_Anuncio},null)
        </td>
    </tr>
}

    </table>

}
