@using Proyecto_AirBnb.Models
@{
    ViewBag.Title = "PagarReserva";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<link href="~/Content/estilospago.css" rel="stylesheet" type="text/css" />

@{ Anuncio a = (Anuncio)ViewBag.Anuncio;}
@{ Reserva r = (Reserva)ViewBag.Reserva;}
@{ Usuario anfi = (Usuario)ViewBag.Anfitrion;}
<div class="col-xs-offset-1">


    <div style="float:left;width:400px;padding:15px">
        <h1>Pago Reserva</h1>

        <h3>Detalles</h3>
        <img src="~/Content/Imagenes/Anuncios/@a.Foto" style="width:350px" />
        <p><strong> Publicado por: </strong> @anfi.Nombre @anfi.Apellido</p>

        <h3>TOTAL: @r.Precio €</h3>

        <table class="table table-striped">
            <tr>
                <th>Titulo</th>
            </tr>
            <tr>
                <td>@a.Titulo</td>
            </tr>
            <tr>
                <th>Descripcion</th>
            </tr>
            <tr>
                <td>@a.Descripcion</td>
            </tr>
            <tr>
                <th>Localidad</th>
            </tr>
            <tr>
                <td>@a.Localidad</td>
            </tr>
            <tr>
                <th>Capacidad</th>
            </tr>
            <tr>
                <td>@a.Capacidad</td>
            </tr>
            <tr>
                <th>Precio/Noche</th>
            </tr>
            <tr>
                <td>@a.Precio</td>
            </tr>
            <tr>
                <th>Nº Noches</th>
            </tr>
            <tr>
                <td>@r.Noches</td>
            </tr>

        </table>


    </div>
    <div style="padding:20px">
        <h3>Forma de pago</h3>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png" /> Detalles Pago</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" id="payment-form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="cardNumber">NUMERO DE TARJETA</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datos" id="tarjeta" placeholder="Nº tarjeta valido" maxlength="16" required />
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="expMonth">VALIDO HASTA</label>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control datos" name="expMonth" id="mes" maxlength="2" placeholder="MM" required />
                                            </div>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control datos" name="expYear" id="year" maxlength="2" placeholder="YY" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cvCode">CODIGO CV</label>
                                            <input type="password" class="form-control datos" maxlength="3" id="cv" name="cvCode" placeholder="CV" required />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-success btn-lg btn-block" type="button" id="btnPago">Finalizar pago</button>
                                    </div>
                                </div>

                                <div style="padding:20px" id="pdflink"></div>

                                <div class="row" style="display:none;">
                                    <div class="col-xs-12">
                                        <p class="payment-errors"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">


        $("#btnPago").click(function () {
            var totales = 0;


            $(".datos").each(function () {
                // --> tarjeta
                // --> mes
                // --> year
                // --> cv

                var tipo = $(this).attr('id');
                var patron = "";

                switch (tipo) {
                    case "tarjeta":
                        patron = "[0-9]{16}";
                        break;
                    case "mes":
                        patron = "^(0[1-9]|1[0-2])$";
                        break;
                    case "year":
                        patron = "[0-9]{2}";
                        break;
                    case "cv":
                        patron = "[0-9]{3}";
                    default:
                }

                var content = $(this).val();
                var expr = new RegExp(patron);
                if (expr.test(content)) {

                    totales += 1;
                }
                else {
                    alert("Campo "+tipo+" incorrecto");

                }


            });
            if (totales == 4) {

                $("#btnPago").prop('disabled',true);

                var idHuesp = "@r.Id_Huesped";
                var idHost = "@anfi.Id";
                var tarjeta = $("#tarjeta").val();
                var idmns = @ViewBag.IdMensaje;
                var datosJSON = {"IdHuesped":idHuesp, "IdAnfitrion":idHost, "Total":@r.Precio, "IdReserva":@r.Id_Reserva, "NumTarjeta":tarjeta, "IdMensaje":idmns};

                $.ajax({

                    url: "@Url.Action("Pagar", "Perfil")",
                    type: 'POST',
                    contentType: 'application/json',

                    data: JSON.stringify(datosJSON),

                }).done(function (data) {

                    alert("Pago realizado con éxito");
                   
                    
                    $("#pdflink").append("<a href='/Perfil/GeneraPDF'>Descargar PDF Reserva(No Implementado)</a>");
                    

                  

                });
            }
        });

        

    </script>
}