@model Proyecto_AirBnb.Models.Anuncio

@{
    ViewBag.Title = "DetalleAnuncio";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}



<h2>DetalleAnuncio</h2>
@{ int noches = (int)Session["noches"];
    int precio = (int)@Model.Precio;//a veces es null.....
    int subtotal = noches * precio;
    double iva = subtotal * 0.2;
    double total = subtotal + iva;
}
<div class="col-xs-offset-2 panel panel-primary" style="width:800px;padding: 20px;position:relative">
    <div class="panel-heading">
        <h1> @Model.Titulo </h1>
    </div>
    <div>
        <img src="~/Content/Imagenes/Anuncios/@Model.Foto" width="500" style="border-radius:15px" />

        <div class="form-group" style="float:right">
            <label for="aloj"><strong>Alojamiento</strong></label>
            <p name="aloj">@Model.Alojamiento</p>

            <label for="hab"><strong>Habitacion</strong></label>
            <p name="hab">@Model.Habitacion</p>

            <label for="cap"><strong>Capacidad</strong></label>
            <p name="hab">@Model.Capacidad</p>

        </div>

        <div>

            <h3><strong>Descripción</strong></h3>
            <div><h5>@Model.Descripcion</h5></div>
        </div>
        <div style="float:right">
            <table class="table table-bordered" style="width:300px">
                <thead>
                    <tr>
                        <th>Precio/Noche</th>
                        <th>Nº Noches</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Precio€</td>
                        <td>@noches</td>
                        <td>@subtotal€</td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" data-placement="left" title="En concepto de servicios ofrecidos por la página" colspan="2">@subtotal + 20% </td>
                        <td>@iva</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h2>TOTAL:</h2></td>
                        <td><strong>@total€</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3">


                            @Html.ActionLink("RESERVAR", "Reserva", "Anuncios", new { area = "", id = @Model.Id_Anuncio, }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

}
