@using Proyecto_AirBnb.Models
@model CreaAnuncioViewModel
@{ Usuario user = (Usuario)Session["usuario"];}
@{
    ViewBag.Title = "NuevoAnuncio";
    Layout = null; //--> SIN LAYOUT PORQ NECESITO PARAMETROS ID=TRUE EN EL NAVBAR....ASI SÉ SI UN REGISTRO O LOGIN PROVIENE DE ÉSTA PAGINA

    // Si le doy a registrarme desde "Conviertete en Anfitrión, deduzco que será ANfitrión
    // Asiq cambio el action para añadir: Anfitrion = true;
    //No uso el layout con el navbar por defecto
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1-55963a131eb5480a933a106eb9ba3646.css" media="all" rel="stylesheet" type="text/css" />

    <link href="https://a2.muscache.com/airbnb/static/p1/main-6d39f8939d26c85e68e231f4d6882bd3.css" media="screen" rel="stylesheet" type="text/css" />
    <meta id="csrf-param-meta-tag" name="csrf-param" content="authenticity_token" />
    <meta id="csrf-token-meta-tag" name="csrf-token" content="" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="position:relative">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class=" span6 pull-right">
                @{

                    if (user != null)
                    {
                        @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                        if ((bool)user.Anfitrion)
                        {
                            @Html.ActionLink("Sube un Anuncio", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                        }
                        else
                        {

                            @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                        }

                        <a class="btn btn-primary navbar-btn" href="http://localhost:17204/Perfil/PerfilUsuario?op=mensajes">
                            Mensajes <span class="badge glyphicon-envelope"> @Session["mensajes"]</span>
                        </a>

                        <a href="/Perfil/PerfilUsuario" class="btn btn-danger navbar-btn">@user.Nombre</a>

                        @Html.ActionLink("Cerrar sesión", "Desconectar", "Account", new { area = "" }, new { @class = "btn btn-danger navbar-btn" })


                        if (user.Foto != null)
                        {
                            <img src="~/Content/Imagenes/Perfil/@user.Foto" style="width:60px; height:45px; border-radius:30px" />
                        }

                    }
                    else
                    {
                        @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                        @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })

                        @Html.ActionLink("Regístrate", "Registro", "Account", new { area = "", id = true }, new { @class = "btn btn-default navbar-btn" })
                        @Html.ActionLink("Iniciar sesión", "Login", "Account", new { area = "", id = true }, new { @class = "btn btn-default navbar-btn", @id = "btnLogin" })

                    }
                }

            </div>

        </div>

    </div>
</div>



<h2>Completa tu Anuncio</h2>
@if (ViewBag.Warning != null)
{
    <h2>@ViewBag.Warning</h2>
}
@using (Html.BeginForm("NuevoAnuncio", "Anuncios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        <hr />
        <div class="form-group">
            <!-- NO LO HAGO DINAMICAMENTE POR EL ICONO DEL BOTON....Tiene un nombre concreto-->

            @Html.LabelFor(model => model.Alojamiento, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Alojamiento, "", new { @class = "text-danger" })
            <div class="col-md-10">

                <div >
                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Apartamento" data-type-id="1" data-icon-class="icon-apartment" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Tu espacio es un apartamento, piso o vivienda en un edificio de varias plantas.">
                        <i class="icon icon-apartment h4 icon-kazan"></i>
                        Apartamento
                    </button>
                    <input type="radio" name="alojamiento" value="Apartamento" />
                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Casa" data-type-id="2" data-icon-class="icon-home" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Tu espacio es una casa individual o un adosado.">
                        <i class="icon icon-home h4 icon-kazan"></i>
                        Casa
                    </button>
                    <input type="radio" name="alojamiento" value="Casa" />
                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Bed &amp; Breakfast" data-type-id="3" data-icon-class="icon-cup" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Alquilas varias habitaciones dentro de un mismo lugar. Tu servicio incluye desayuno.">
                        <i class="icon icon-cup h4 icon-kazan"></i>
                        Bed &amp; Breakfast
                    </button>
                    <input type="radio" name="alojamiento" value="Bed&Breakfast" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habitacion, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Habitacion, "", new { @class = "text-danger" })

            <div class="col-md-10">
                <div>
                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Casa/apto. entero" data-slug="entire_home_apt" data-type="Entire home/apt" data-type-id="0" data-icon-class="icon-entire-place" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Vas a alquilar la casa entera.">
                        <i class="icon icon-entire-place h4 icon-kazan"></i>
                        Casa/apto. entero
                    </button>
                    <input type="radio" name="habitacion" value="Casa/apto. entero" />

                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Habitación privada" data-slug="private_room" data-type="Private room" data-type-id="1" data-icon-class="icon-private-room" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Vas a alquilar una habitación privada dentro de una casa.">
                        <i class="icon icon-private-room h4 icon-kazan"></i>
                        Habitación privada
                    </button>
                    <input type="radio" name="habitacion" value="Habitacion privada" />

                    <button class="btn btn-large type alert-highlighted-element hover-select-highlight" data-name="Habitación compartida" data-slug="shared_room" data-type="Shared room" data-type-id="2" data-icon-class="icon-shared-room" data-behavior="tooltip" type="button" data-position="bottom" aria-label="Vas a alquilar una zona común como, por ejemplo, una cama hinchable en el salón.">
                        <i class="icon icon-shared-room h4 icon-kazan"></i>
                        Habitación compartida
                    </button>
                    <input type="radio" name="habitacion" value="Habitacion compartida" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capacidad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Capacidad, "", new { @class = "text-danger" })
            <div class="row fieldset fieldset_person_capacity wmpw-spacing">
                <div class="unselected row row-condensed">
                    <div class="col-sm-3">
                        <div class="panel accommodates-panel">
                            <div class="panel-body panel-light alert-highlighted-element hover-select-highlight">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-2 va-container">
                                        <i class="icon icon-group h4 icon-kazan va-middle icons-accommodates"></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="select select-large hover-select-highlight">
                                            <select id="capacidad" name="capacidad"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control", id = "busqueda", @maxlength = 40 } })


            </div>

        </div>


    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Continuar" class="btn btn-primary" />
    </div>
}

<script @*src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwpwccxKmx8fpBuABauco_mGsjF2eJvaU&signed_in=true&libraries=places"
        async defer*@>
    $select = $('#capacidad');
    for (var i = 1  ; i <= 15; i++) {
        $select.append(new Option(i));
    }
    $select.append(new Option("16+"));

    //$caja = $('#busqueda').keyup(function () { alert("Has pulsado");})
    //autocompletado de Google API

</script>


