@using Proyecto_AirBnb.Models
@model Usuario
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
@{ Usuario user = (Usuario)Session["usuario"]; } <!-- Compruebo si está en la sesion -->

@section Navbar
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="position:relative">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class=" span6 pull-right">
                    @{

                        if (user != null)
                        {
                            @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                            if ((bool)user.Anfitrion)
                            {
                                @Html.ActionLink("Sube un Anuncio", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })


                            }
                            else
                            {

                                @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                            }

                            <a class="btn btn-primary navbar-btn" href="http://localhost:17204/Perfil/MiPerfil">
                                Mensajes <span class="badge glyphicon-envelope"> @Session["mensajes"]</span>
                            </a>

                            <a href="/Perfil/MiPerfil" class="btn btn-danger navbar-btn">@user.Nombre</a>

                            @Html.ActionLink("Cerrar sesión", "Desconectar", "Account", new { area = "" }, new { @class = "btn btn-danger navbar-btn" })


                            if (user.Foto != null)
                            {
                                <img src="~/Content/Imagenes/Perfil/@user.Foto" style="width:60px; height:45px; border-radius:30px" />
                            }
                            else
                            {
                                <img src="~/Content/Imagenes/Perfil/no_img.png" style="width:60px; height:45px; border-radius:30px" />
                            }

                        }
                        else
                        {
                            @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                            @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })

                            @Html.ActionLink("Regístrate", "Registro", "Account", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                            @Html.ActionLink("Iniciar sesión", "Login", "Account", new { area = "" }, new { @class = "btn btn-default navbar-btn", @id = "btnLogin" })

                        }
                    }

                </div>

            </div>

        </div>
    </div>


}

@section search{

    <div class="hero__content-footer hide-sm">
        @*----BARRA DE BUSQUEDA*@
        <div class="col-sm-12">

            <div id="buscar">
                @* LA PROPIA LIBRERIA DE AIRBNB CARGABA JAVASCRIPTS PARA EL AUTOCOMPLETADO....con id='searchbar'*@
                <div class="searchbar">

                    <div class="searchbar__input-wrapper">

                        <label class="searchbar__location">
                            <span class="screen-reader-only">
                                ¿A dónde quieres ir?
                            </span>
                            <input id="location"
                                   type="text"
                                   class="input-large input-contrast"
                                   placeholder="¿A dónde quieres ir?" />
                            <div id="searchbar-location-error" class="searchbar__location-error hide">
                                Por favor, elige una ubicación
                            </div>
                        </label>

                        <label class="searchbar__checkin">
                            <span class="screen-reader-only">
                                Llegada
                            </span>
                            <input id="checkin"
                                   type="text"
                                   class="checkin input-large input-contrast"
                                   name="checkin"
                                   placeholder="Llegada"
                                   readonly="readonly" />
                        </label>

                        <label class="searchbar__checkout">
                            <span class="screen-reader-only">
                                Salida
                            </span>
                            <input id="checkout"
                                   type="text"
                                   class="checkout input-large input-contrast"
                                   name="checkout"
                                   placeholder="Salida"
                                   readonly="readonly" />
                        </label>

                        <label class="searchbar__guests">
                            <span class="screen-reader-only">
                                Número de huéspedes
                            </span>
                            <div class="select select-large">
                                <select id="guests" name="guests">
                                    <option value="1">1 huésped</option>
                                    <option value="2">2 huéspedes</option>
                                    <option value="3">3 huéspedes</option>
                                    <option value="4">4 huéspedes</option>
                                    <option value="5">5 huéspedes</option>
                                    <option value="6">6 huéspedes</option>
                                    <option value="7">7 huéspedes</option>
                                    <option value="8">8 huéspedes</option>
                                    <option value="9">9 huéspedes</option>
                                    <option value="10">10 huéspedes</option>
                                    <option value="11">11 huéspedes</option>
                                    <option value="12">12 huéspedes</option>
                                    <option value="13">13 huéspedes</option>
                                    <option value="14">14 huéspedes</option>
                                    <option value="15">15 huéspedes</option>
                                    <option value="16">16+ huéspedes</option>
                                </select>
                            </div>
                        </label>

                    </div>

                    <button id="submit_location"
                            type="button"
                            class="searchbar__submit btn btn-primary btn-large">
                        Buscar
                    </button>

                    <input type="hidden" name="source" value="bb">

                </div>
            </div>

        </div>
    </div>



}
@section anuncios
{
    <div id="anuncios"></div>
}
@section scripts{


    <script>
        $("#checkin").datepicker();
        $("#checkout").datepicker();


        var array = ["miami", "new york", "florida"];
        $("#location").autocomplete(array);
    </script>
    <script>



        $("#submit_location").click(function () {

            var loc = $("#location").val();
            var checkin = $("#checkin").val();
            var checkout = $("#checkout").val();
            var huespedes = $("#guests").val();

            if (loc == 0 || checkin == 0 || checkout == 0) {

                alert("Debe completar su búsqueda");
            }
            else {

                var busquedaJSON = { "Sitio": loc, "Huespedes": huespedes, "Llegada": checkin, "Salida": checkout }


                $.ajax({

                    url: "@Url.Action("BuscarAnuncio","Inicio")",
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'html',
                    data: JSON.stringify(busquedaJSON),

                }).done(function (data) {

                    $("#anuncios").html(data);
                });
            }

        });
    </script>

}

