@using Proyecto_AirBnb.Models
@model Usuario
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
@{ Usuario user = (Usuario)Session["usuario"]; } <!-- Compruebo si está en la sesion -->

@section Navbar
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="position:relative">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class=" span6 pull-right">
                    @{

                        if (user != null)
                        {
                            @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                            if ((bool)user.Anfitrion)
                            {
                                @Html.ActionLink("Mis anuncios", "Index", "Inicio", new { area = "" }, new { @class = "btn btn-default navbar-btn" })

                            }
                            else
                            {

                                @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                            }

                            <a class="btn btn-primary navbar-btn" href="http://localhost:17204/Inicio/Index">Mensajes <span class="badge ">3</span></a>
                            @*@Html.ActionLink("Mensajes", "Index", "Inicio", new { area = "" }, new { @class = "btn btn-default navbar-btn",  })*@

                            @Html.ActionLink(user.Nombre, "Index", "Inicio", new { area = "" }, new { @class = "btn btn-danger navbar-btn" })
                            @Html.ActionLink("Cerrar sesión", "Desconectar", "Account", new { area = "" }, new { @class = "btn btn-danger navbar-btn " })


                            if (user.Foto != null)
                            {
                                <img src="~/Content/Imagenes/Perfil/@user.Foto" style="width:65px; height:50px" />
                            }
                                                        
                        }
                        else
                        {
                            @Html.ActionLink("AirBnb", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })

                            @Html.ActionLink("Conviértete en Anfitrión", "NuevoAnuncio", "Anuncios", new { area = "" }, new { @class = "btn btn-default navbar-btn" })

                            @Html.ActionLink("Regístrate", "Registro", "Account", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                            @Html.ActionLink("Iniciar sesión", "Login", "Account", new { area = "" }, new { @class = "btn btn-default navbar-btn", @id = "btnLogin" })

                        }
                    }

                </div>

            </div>

        </div>
    </div>

}

