@model IEnumerable<Proyecto_AirBnb.Models.Anuncio>

@if (Model.Count() == 0)
{

<div class="col-xs-offset-2 panel panel-danger" style="width:550px;padding-bottom: 20px;position:relative">
    <div class="panel-heading">
        <h2>
            ERROR EN LA BÚSQUEDA
        </h2>
    </div>

    <div>

        <h3>No se han encontrado coincidencias</h3>

    </div>
</div>
}
else if (@Model != null)
{
    foreach (var item in Model)
    {

        <div class="col-xs-offset-2 panel panel-primary" style="width:550px;padding-bottom: 20px;position:relative">
            <div class="panel-heading">
                <h2>
                    @Html.ActionLink(@item.Titulo, "DetalleAnuncio", "Anuncios", new { id = @item.Id_Anuncio }, new { @style = "color:#FFFFFF" })
                </h2>
            </div>
            <div>
                <img src="~/Content/Imagenes/Anuncios/@item.Foto" width="300" style="border-radius:15px" />

                <div class="form-group" style="float:right">
                    <label for="aloj"><strong>Alojamiento</strong></label>
                    <p name="aloj">@item.Alojamiento</p>

                    <label for="hab"><strong>Habitacion</strong></label>
                    <p name="hab">@item.Habitacion</p>

                    <label for="cap"><strong>Capacidad</strong></label>
                    <p name="hab">@item.Capacidad</p>

                    <div>
                        <h5>Precio/noche: </h5>  @item.Precio €

                    </div>

                </div>

                <div>

                    <h3><strong>Descripción</strong></h3>
                    <div><h5>@item.Descripcion</h5></div>
                </div>
            </div>

            <div>

                @Html.ActionLink("RESERVAR", "Reserva", "Anuncios", new { area = "", id = @item.Id_Anuncio, }, new { @class = "btn btn-primary" })

            </div>
        </div>

    }

}

else
{
    <div class="col-xs-offset-2 panel panel-danger" style="width:550px;padding-bottom: 20px;position:relative">
        <div class="panel-heading">
            <h2>
                ERROR EN LA BÚSQUEDA
            </h2>
        </div>

        <div>

            <h3>El número de noches no puede ser inferior a 0</h3>

        </div>
    </div>

}



